<main class="p-4 h-screen flex flex-col justify-center items-center space-y-2">
  <h1 class="text-4xl font-bold text-red-500 text-center">Angular Lessons</h1>

  <!-- STRING / DATA INTERPOLATION : {{}} -->

  <p class="text-gray-400">{{ description }}</p>

  <div class="flex flex-col">
    <span>Date: {{ date.date }}</span>
    <span>Time: {{ date.time }}</span>
  </div>

  <app-card
    [title]="'The Coldest Sunset'"
    [description]="
      'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla!'
    "
    [tags]="['#photography', '#travel', '#winter']"
  />
</main>
